::placeholder {
    color: white;
  }
  
  input,
  textarea {
    background: transparent;
    border-radius: 0px;
    outline: none;
  }
  input:focus,
  textarea:focus{
    background: rgba;
    border-radius: 0px;
    color: black;
  
  }
  button{
    padding: 1px 10px;
    background-color:orange;
    margin-left:475px;
    color: white;
    outline: none;
  }

  .label{
    margin-left: 500px
  }
  label{
    margin-left:50px;
  }
  *{
    background: #fff;
  }
  .form-group-1{
    margin-left:450px;
    margin-bottom:20px;
  }